.form__group {
    margin-bottom: 1.5rem;
}

.form__control {
    display: block;
    width: 100%;
    padding: .5rem 0;

    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;

    font-family: inherit;
    font-size: 1.4rem;
    color: $white;
    
    // background-color: #202020;
   
    
    border-bottom: 1px solid #3F3F3F;
    &::placeholder {
        color: rgba($white, .2);
    }
    &--textarea {
        height: 28px;
        resize: none;
        overflow: hidden;
    }
}