.post {
    padding: 2.5rem;
    margin-bottom: 3rem;
    overflow: hidden;

    background-color: $primary;
    box-shadow: 0px 15px 25px rgba($black, .35);
    border-radius: 0.5rem;

    &__header {
        margin: 0 0 2.5rem;
        &--preview {
            margin: -2.5rem -2.5rem 2.5rem;
        }
        &-video {
            margin: 0 0 2.5rem;
            iframe {
                border-radius: 0.5rem;
            }            
        }
        &--open {
            margin-bottom: 3rem;
        }
    }

    &__actions {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.5rem;

        font-size: 1.2rem;
        color: $white;
        a {
            color: inherit;
            opacity: 0.6;
            transition: opacity .2s linear;
            &:hover {
                opacity: 1;
            }
        }
        &--icon {
            margin-left: 0.7rem;
        }
    }

    &__img {
        margin-bottom: 2.5rem;
    }

    &__preview {
        display: block;
        min-width: 100%;
        height: auto;
    }

    &__content {                
        margin-bottom: 2rem;
    }

    &__title {
        margin-bottom: 1.5rem;

        font-size: 1.8rem;
        font-weight: 500;
        color:$white;
        a {
            color: inherit;
        }
        &--mb0 {
            margin-bottom: 0;
        }
    }

    &__descr {
        font-size: 1.4rem;
        color: #d2d2d2;       
    }

    &__text {
        font-size: 1.4rem;
        color: $white;
        border-bottom: 1px solid #1c1c1c;
        padding-bottom: 3rem;
        h2, h4, h5, h6 {
            font-weight: 700;
            padding-bottom: 2rem;
        }
        h2{
            font-size: 2em;
        }
        h3{
            font-size: 1.6em;
            font-weight: 500;
        }
        h4{
            font-size: 1.15em;
        }
        h5, h6{
            font-size: 1em;
        }
        ul, ol{
            margin-bottom: 3rem;
        }
        ol{
            list-style: decimal;
            list-style-position: inside;
        }
        p {
            margin-bottom: 3rem;
        }
        a{
            color: $blue;

        }
        table{
            width: 100%;
            margin-bottom: 3rem;
        }
        img{
            display: block;
            min-width: 100%;
            height: auto;
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__data {
        display: flex;

        font-size: 1.2rem;
        line-height: 1.2;
        color: #828282;
        &-item {
            &:not(:last-child):after {
                content: "";
                display: inline-block;
                width: 6px;
                height: 6px;

                border-radius: 50%;
                background-color: #c4c4c4;

                margin: 0 1.5rem 0.1rem;
            }
        a {
            color: inherit;
        }
        }
    }

    &__read {
        color: #107EFF;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}