.stories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 195px;
    grid-column-gap: 15px;
    margin-bottom: 3rem;
    &__item {
        overflow: hidden;
        position: relative;

        box-shadow: 0 5px 15px rgba($black, .2);
        border-radius: 6px;
        cursor: pointer;

        &:after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;

            background-image: linear-gradient(
                to bottom,
                rgba($black, 0.8) 0%,
                rgba($black, 0) 52.08%,
                rgba($black, 0.406154) 76.41%,
                rgba($black, 0.8) 100%);

            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
        }
        &:hover {
            .stories__preview {
                transform: scale(1.3) ;
                transition-duration: .4s;
            }
            background-image: none;
        }

    }
    &__preview {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;

        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        transform: scale(1.05);
        transition: transform .8s ease-in-out;
    }
    &__title,
    &__date {
        position: absolute;
        font-size: 1.2rem;
        z-index: 3;
        color: $white;
    }
    &__title {
        top: 1.4rem;
        left: 1.4rem;
        line-height: 1.2;
        
    }
    &__date {
        bottom: 1rem;
        right: 1.4rem;
    }
}